.card-1 {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  padding: 15px;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.4);
}

.card-1:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.album-picture{
  aspect-ratio: 1 / 1;
  object-fit:cover;
  border-radius:8px;
  display:block;
  width: 100%;
}

.card-2 {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  padding: 15px;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.4);
}

.card-2:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-3 {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  padding: 15px;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.4);
}

.card-3:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-4 {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  padding: 15px;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.4);
}

.card-4:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}

body {
  background-image: linear-gradient(135deg, rgba(255, 175, 36, 1) 0%, rgba(0, 251, 255, 1) 100%);
  height: 250vh;
  font-family: Arial, Helvetica, sans-serif;
}

.album-picture {
  text-align: center;
}

.singer {
  text-align: center;
}

.music-name {
  text-align: center;
}

.headerlogo {
  width: 100px;
  margin-right: 10px;
}

.container {
  display: flex;
  justify-content: center;
  gap: 50px; 
  padding: 20px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  animation: colorCycle 2s infinite;
  font-size: 24px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}


@keyframes colorCycle {
  0%   { color: red; }
  25%  { color: orange; }
  50%  { color: green; }
  75%  { color: blue; }
  100% { color: purple; }
}

.judul {
  font-size: 2em;
   animation: colorCycle 5s infinite linear;
}


.headersekon {
  color: white;
  text-align: center;
  font-family: 'Arial', sans-serif;
}

footer {
  text-align: center;
}

.album-picture-settings {
  width: 300px;
  height: 300px;
}